@tailwind base;
@tailwind components;
@tailwind utilities;

.pc-Grid .container-fluid, .pc-Grid .container {
    max-width: none !important
}
.container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important
}

.g-table__table{
    width: 100% !important;
}

.g-label_size_m {
    --_--height: 50px !important;
    --_--border-radius: var(--g-border-radius-m);
    --_--margin-inline: 12px;
    --_--margin-addon-start: 32px;
    --_--margin-addon-end: 32px;
    .g-label__text {
        font-size: 20px !important;
    }
  }
  
.g-date-calendar__controls{
    display: flex;
    scale: 0.8;
} 